.home-group {
  //height: 100%;

  #components-layout-demo-custom-trigger .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }

  #components-layout-demo-custom-trigger {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
  }

  .site-layout .site-layout-background {
    background: #fff;
  }

  .left {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
  }

  .right {
    margin-left: 200px;
  }

  .logo {
    img {
      height: 30px;
      width: 30px;
      margin: 16px;
      border-radius: 15px;
    }
  }

  .header-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .logout {
      margin: 0 16px;
    }
  }


  .content-group {
    margin: 24px 16px;
    padding: 24px;
    background: #fff;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    overflow: initial;
  }
}